.message-window {
  border: 1px solid black;
  border-radius: 2px;
  height: 350px;
  width: 500px;
  overflow: auto;
}

.self-message {
  background: white; 
}

.italicize {
  font-style: italic;
}

.message-typing {
  bottom: 0;
  display: flex;
  font-style: italic;
}

.typing-static-message {
  margin-right: 0.5rem;
}
